.EightBall {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  color: cornsilk;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EightBall-button {
  text-align: center;
}
